<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel = "icon" href ="https://pics.freeicons.io/uploads/icons/png/9575087111581426689-512.png" type = "image/x-icon">
	<title>{% block title %}Files Storage{% endblock %}</title>
</head>
<body>
{% if toolbar %}
	<div class="w3-display-topright">
		<span> login by : {{username}}</span>
		<span>{{form.signOut}}</span>
	</div>
{% endif%}
{% block body %}{% endblock %}
</body>
</html>